* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
body {
    font-size: 1rem;
}
header {
  background-color: grey;
  height: 3rem;
  display: flex;
  width: 100%;
  margin-top: 0;
} 
main {
  background-color: lightgrey;
  height: 40rem;
  width: 100%;
} 
.searchBar {
  margin: auto;
  color: grey;
  margin-left: 2rem;
  
}
i{
  margin: auto;
  color: grey;
}

input {
  width: 20rem;
}
.button {
  margin: auto;
  margin-right: 2rem;
} 

.login {
  color:black;
  background-color: darkorange;
  border: 0;
  border-radius: 10%
  
} 
.signUp {
  border-radius: 10%;
  background-color: lightgreen;
  border:0;
  color: white;
} 


@media screen and (max-width: 700px) {
  input {
    width: 12rem;
  }
  .searchBar{
    margin-left: 0.2rem;
  }
  .button {
    margin-right: 0.2rem;
  }
}


/* single product styles */
body {
  background-color: lightgray;
}

.consumerFeedback {
  background-color: white;
  margin: auto;
  width: 80vw;
  margin-bottom: 20px;
} 
.userProfile{
  display: flex;
 
}

.user {
  margin-top: 2vh;
  margin-left: 2vw;
  margin-right: 2vw;
}

.rating{
  margin-top: 2vh;
  background-color: lightgrey;
  margin-left: 0;
}

p{
  margin-left: 2vw;
  padding-bottom: 2vh;
}

.companyResponse{
  padding-bottom: 2vh;
}
.companyName{
  color: lightgrey;
}
.checked {
  color: gold;
} 
span{
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.unchecked{
  color: white;
}

.firstStar {
  padding-left: 0.2rem;
}

.lastStar{
  padding-right: 0.2rem;
}
/* end of single product styles */

/* SignUp for all user */
.form-control {
	height: 41px;
	background: #f5eded;
	box-shadow: none !important;
    border: none;
    width: 100%;
}
.form-control:focus {
	background: #e2e2e2;
}
.form-control, .btn {        
  border-radius: 3px;
  outline: none;
  padding: 5px 10px;
}
.signup-form {
	width: 500px;
	margin: 30px auto;
}
.signup-form form  {
	color:whitesmoke;
	border-radius: 3px;
	margin-bottom: 15px;
	background: #3598dc;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}
.form-paragraph{
  margin-left: 0;
  margin-top: 5px;
}
.signup-form h2  {
	color: whitesmoke;
	font-weight: bold;
	margin-top: 0;
}   
.signup-form .form-group {
    margin-bottom: 20px;
    outline: none;
}
.signup-form input[type="checkbox"] {
    margin-top: 3px;
    width: 0;
}
.signup-form .row div:first-child {
    margin-bottom: 20px;
}
.signup-form .btn {        
	font-size: 16px;
	font-weight: 500;
	background: #f5eded;
	border: none;
    min-width: 140px;
    height: 40px;
    color: rgb(68, 160, 236);
}
.signup-form .btn:hover, .signup-form .btn:focus {
	background: #b0b2b4;
    outline: none;
}
.signup-form a {
	color: #3598dc;
	text-decoration: underline;
}
.signup-form a:hover {
	text-decoration: none;
}
.signup-form form a {
	color: blue;
	text-decoration: none;
}	
.signup-form form a:hover {
	text-decoration: underline;
}
.signup-form .hint-text  {
	padding-bottom: 15px;
    text-align: center;
    color: #3598dc;
}
/* end of signUp for all user */
