* {
  margin: 0;
}
section {
  background-color: rgb(211, 211, 211, 0.2);

  height: 100vh;
  margin: auto;
}

form {
  position: absolute;
  top: 20%;
  width: 90%;
  left: 10vh;
}
.rateProduct {
  display: flex;
}

.checked {
  color: rgb(255, 166, 0);
}

.unchecked {
  color: white;
  outline-color: rgb(255, 166, 0);
}

.rating {
  font-size: 1.5rem;
  position: relative;
  top: 1.2rem;
  left: 1rem;
}

.instruction {
  color: gray;
  font-size: 2.5rem;
  line-height: 150%;
  opacity: 0.5;
}

textarea {
  width: 100%;
  background-color: white;
  border-color: rgb(0, 0, 0, 0.3);
  border-width: 0.13rem;
  border-style: solid;
}

::-webkit-input-placeholder {
  position: relative;
  padding-left: 2rem;
  padding-top: 1rem;
  font-size: 2rem;
  opacity: 0.5;
}
